---
// Style Imports
import '../styles/style.css';
// Component Imports
import MainLayout from '../layout/MainLayout.astro';

let title = 'My homepage';
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <MainLayout>

    <div class="content about">
        <h1>About me</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum similique et deserunt porro corrupti exercitationem reiciendis, voluptas soluta ullam vitae quisquam vero illo omnis cupiditate consequuntur, minima dicta veritatis consequatur?
        Beatae laudantium sed excepturi, necessitatibus ipsa commodi error minus inventore maiores sequi officiis recusandae alias nemo quae rerum? Aliquam magnam corrupti, dignissimos voluptates dolorem molestias tempora ut eaque commodi enim?
        Expedita tempore dolores, et delectus ducimus aliquam tenetur cumque veniam repellat voluptatem, molestias voluptate cupiditate. Nostrum modi repudiandae deserunt possimus debitis iure incidunt rerum. Tempora veritatis inventore facilis itaque libero.
        Quisquam temporibus dignissimos saepe ex sed facilis possimus fugiat totam quaerat, amet hic ducimus voluptate? Iure perferendis error, aut, deserunt molestiae vel tempora dolore aspernatur adipisci omnis tempore ab sint?
        Aliquam dolor cupiditate exercitationem? Id blanditiis sunt commodi molestiae iure odit distinctio voluptatem quas esse sit ducimus eos enim quod, ipsum odio error accusantium laudantium, incidunt totam labore modi. Incidunt!</p>
    </div>
    
    </MainLayout>

</body>
</html>