---
// Component Imports
import MainLayout from '../layout/MainLayout.astro';

let title = 'My homepage';
---

    <MainLayout>

    <div class="content">
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 1</h2>
        </a>
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 2</h2>
        </a>
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 3</h2>
        </a>
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 4</h2>
        </a>
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 5</h2>
        </a>
    </div>
    
   </MainLayout>

