---
// Style Imports
import '../styles/style.css';
// Component Imports
import MainLayout from '../layout/MainLayout.astro';

let title = 'My homepage';
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <MainLayout>

    <div class="content">
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 1</h2>
        </a>
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 2</h2>
        </a>
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 3</h2>
        </a>
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 4</h2>
        </a>
        <a href="#">
            <img src="" alt="">
            <h2>Exercici 5</h2>
        </a>
    </div>
    
   </MainLayout>

</body>
</html>