---
// Component Imports
import MainLayout from '../layout/MainLayout.astro';

let title = 'My homepage';
---

	<MainLayout>

	<div class="content">
        <a href="/exercicis">
            <img src="img/Exercicis.jpg" alt="">
            <h2>Exercicis</h2>
        </a>
        <a href="#">
            <img src="../public/assets/Activitat1.jpg" alt="">
            <h2>Activitat 1</h2>
        </a>
        <a href="#">
            <img src="../public/assets/Activitat1.jpg" alt="">
            <h2>Activitat 2</h2>
        </a>
        <a href="#">
            <img src="../public/assets/Activitat1.jpg" alt="">
            <h2>Activitat 3</h2>
        </a>
        <a href="#">
            <img src="../public/assets/Activitat1.jpg" alt="">
            <h2>Activitat 4</h2>
        </a>
        <a href="#">
            <img src="../public/assets/Projecte.jpg" alt="">
            <h2>Projecte</h2>
        </a>
        
    </div>

	</MainLayout>