---
// Style Imports
import '../styles/style.css';
// Component Imports
import MainLayout from '../layout/MainLayout.astro';

let title = 'My homepage';
---


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

	<MainLayout>

	<div class="content">
        <a href="exercicis.html">
            <img src="img/Exercicis.jpg" alt="">
            <h2>Exercicis</h2>
        </a>
        <a href="#">
            <img src="img/Activitat1.jpg" alt="">
            <h2>Activitat 1</h2>
        </a>
        <a href="#">
            <img src="img/Activitat1.jpg" alt="">
            <h2>Activitat 2</h2>
        </a>
        <a href="#">
            <img src="img/Activitat1.jpg" alt="">
            <h2>Activitat 3</h2>
        </a>
        <a href="#">
            <img src="img/Activitat1.jpg" alt="">
            <h2>Activitat 4</h2>
        </a>
        <a href="#">
            <img src="img/Projecte.jpg" alt="">
            <h2>Projecte</h2>
        </a>
        
    </div>

	</MainLayout>

    
    
    
</body>
</html>