



    <header>
        <div class="links">
            <a href="index">Home</a>
            <a href="exercicis.html">Exercicis</a>
            <a href="#">Projecte</a>
            <a href="about.html">About</a>
        </div>
        <h1>DAW1-Homepage</h1>
        <h2>UF2</h2>
    </header>

<slot></slot>
    
    <footer>
        <h3>Oriol Jauma</h3>
    </footer>
